apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app 
  labels:   
    app: spring-boot-app
spec:  
  replicas: 2
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
      - name: spring-boot-app
        image: asia-east1-docker.pkg.dev/neat-pagoda-477804-m8/cicd-repo/springboot-app:973
        ports:
        - containerPort: 8080
